.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared items */
.btn-primary{
    padding:15px 93px;
    color: white;
    background-color: rgba(233, 90, 8, 1);
    border: none;
    font-weight: 600;
 }
 .btn-primary:hover{
    background-color: black;
}
.btn-primary, .text-blockss p, .text-blocks p, .text-block p{
    cursor: pointer;
}
.btn-secondary{
    padding: 17px 53px;
    background-color:rgba(233, 90, 8, 1) ;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 16px;
    margin-left: -5px;
}
.image{
    position: relative;
}
 #badge{
    width: 280px;
     position: absolute;
     top:-20%;
     right:-25%;
     animation: rotation 5s infinite linear;
 }
 @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
  /* navbar section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 0px 150px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
 }
nav ul li a{
    text-decoration: none;
    color: rgba(37, 36, 50, 1);
    font-family: sans-serif;
}
 .design a{
    color: rgba(137, 135, 161, 1);
}

/* banner section */
.banner-container{
    display: flex;
    margin: 200px 150px 0px 150px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
 }
.banner-subtitle{
    font-size: 22px;
    font-family: sans-serif;
    margin-top: -35px;
    color: rgba(0, 0, 0, 0.5);
}
/* plants section */
.title-container{
    text-align: center;
    margin: 100px 150px 0px 150px;
}
.plant-title{
    font-size: 50px;
    font-weight: bold;
}
.plant-subtitle{
    font-size: 22px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -25px;
    margin-left: 200px;
    margin-right: 200px;
}
.items-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    margin: 40px 140px 0px 160px;
   }
.item-container img{
    width: 280px;
 }
 .f-name{
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    font-family: sans-serif;
 }
 .price{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: sans-serif;
    margin-top: -15px;
 }
/* lover section */
.lover-container{
    display: flex;
    gap: 100px;
    margin: 200px 150px 0px 160px;
 }
.lover-title{
    font-size: 50px;
    margin-bottom: 0px;
    margin-right: 60px;
 }
 .lover-description ul li{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
 }
 /* deals section */
 .deals-container{
    text-align: center;
    margin: 100px 350px 120px 350px;
 }
 .deals-title{
    font-size: 50px;
    font-weight: bold;
 }
 .deals-subtitle{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-family: sans-serif;
    margin-top: -30px;
 }
 .deals-img-cont{
    display: flex;
    margin: 0px 150px 0px 160px;
    max-width: 1140px;
    gap: 40px;
 }
  .deals-img1 img{
    border-radius: 14px;
    margin-bottom: 15px;
    filter: brightness(70%);
 }
 .deals-img2 img{
    border-radius: 22px;
    width:835px;
    height: 420px;
    filter: brightness(70%);
}
.deals-img1, .deals-img2{
    position: relative;
}
.text-block {
  position: absolute;
  bottom: 280px;
  right: 70px;
  color: white;
  text-align: center;
}
.text-block h4{
    font-size: 20px;
    font-weight: bold;
}
.text-block p{
    margin-top: -13px;
    text-decoration: underline;
}
 .text-blocks {
  position: absolute;
  bottom: 70px;
  right: 80px;
  color: white;
  text-align: center;
}
.text-blocks h4{
    font-size: 20px;
    font-weight: bold;
}
.text-blocks p{
    margin-top: -13px;
    text-decoration:underline;
}
.text-blockss {
  position: absolute;
  bottom: 130px;
  right: 200px;
  color: white;
  text-align: center;
}
.text-blockss h4{
    font-size: 40px;
    font-weight: bold;
}
.text-blockss p{
    margin-top: -30px;
    font-size: 28px;
    font-weight: 500;
    text-decoration:underline;
}
/* join section */
.bg{
    background: url(../images/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100px -8px -8px -8px;
  }
.join-container{
    padding: 100px 200px;
    padding-left: 400px;
}
.join-title{
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-left: 120px;
}
.email{
    padding:15px 440px 15px 20px;
    font-size: 16px;
}

 /* media quiery for small device */
@media screen and (max-width:576px) {
    nav{
        margin-left:10px;
        margin-right:10px;
     }
     .sm a{
        display: none;
    }
     nav img{
        width: 63px;
    }
    /* banner responsive */
    .banner-container{
        margin: 20px 10px 0px 10px;
         flex-direction: column-reverse;
    }
    .banner-container img{
        width: 390px;
    }
    .banner-title{
        font-size: 24px;
        margin-right: 50px;
    }
    .banner-subtitle{
        font-size: 14px;
        margin-top: -10px;
    }
    /* plant section responsive */
    .items-container{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10px;
        margin-right: -15px;
    }
    .item-container img{
        width: 170px;
    }
    .btn-primary{
        padding: 18px 37px;
    }
    .title-container{
        margin: 20px;
    }
    .plant-title{
        font-size: 24px;
    }
    .plant-subtitle{
        font-size: 14px;
        margin: 20px;
    }
    .f-name, .price{
        font-size: 16px;
    }
    /* lover section responsive */
    .lover-container{
        flex-direction: column;
        margin: 50px 0px 0px 10px;
     }
    .image img{
        width: 365px;
    }
    #badge{
        display: none;
    }
    .lover-title{
        font-size: 24px;
        margin-top: -70px;
    }
    .lover-description ul li{
        font-size: 14px;
        margin-left: -20px;
    }
    /* deals section */
    .deals-img-cont{
        flex-direction: column;
    }
    .deals-img-cont img{
        width: 370px;
        height: 180px;
        border-radius: 12px;
        filter: brightness(60%);
        margin-left: -150px;
    }
    .deals-img2 img{
        margin-top: -40px;
    }
    .deals-container{
         margin: 40px 10px 40px 10px;
    }
    .text-block {
  margin-left: -100px;
  margin-right: -100px;
  bottom: 270px;
  right: 20px;
  color: white;
 }
.text-block h4{
    font-size: 20px;
    font-weight: bold;
}
.text-block p{
    margin-top: -13px;
    text-decoration: underline;
}
 .text-blocks {
  margin-left: -100px;
  margin-right: -100px;
  bottom: 70px;
  right: 25px;
  color: white;
 }
.text-blocks h4{
    font-size: 20px;
    font-weight: bold;
}
.text-blocks p{
    margin-top: -13px;
    text-decoration:underline;
}
.text-blockss {
  bottom: 45px;
  right: 20px;
  color: white;
  margin-left: -100px;
  margin-right: -100px;  
}
.text-blockss h4{
    font-size: 20px;
    font-weight: bold;
}
.text-blockss p{
    margin-top: -10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration:underline;
}
.bg{width: 390px;
    height: 270px;
    margin-top: 30px;
    padding-right: 20px;
 }
 .email{
    font-size: 14px;
    padding: 10px 50px 10px 5px;
 }
 .join-container{
    padding: 10px 20px;
    padding-left: 40px; 
 }
 .join-title{
    font-size: 20px;
    padding-left:20px;
    padding-top: 70px;
  }
 .btn-secondary{
    padding: 11px 30px;
    font-weight: 500;
    font-size: 14px;
    margin-left: -5px;
}

 }
 